[submodule "Hunt-Learning Journal"]
	path = Hunt-Learning Journal
	url = https://github.com/MQ-FOAR705/Hunt---Learning-Journal.git
[submodule "Hunt-Scoping2"]
	path = Hunt-Scoping2
	url = https://github.com/MQ-FOAR705/Scoping_2_Computational_Analysis.git
[submodule "Hunt_Elaboration_1_Planning"]
	path = Hunt_Elaboration_1_Planning
	url = https://github.com/MQ-FOAR705/Hunt_Elaboration_1_Planning.git
[submodule "Hunt_Elaboration_2_Testing"]
	path = Hunt_Elaboration_2_Testing
	url = https://github.com/MQ-FOAR705/Hunt_Elaboration_2_Testing.git
[submodule "Hunt_Proof_Of_Concept_Design"]
	path = Hunt_Proof_Of_Concept_Design
	url = https://github.com/MQ-FOAR705/Hunt_Proof_Of_Concept_Design.git
[submodule "Hunt_Quality_Assurance_Scaffold"]
	path = Hunt_Quality_Assurance_Scaffold
	url = https://github.com/MQ-FOAR705/Hunt_Quality_Assurance_Scaffold.git
[submodule "Hunt_Emily_Lightning_Talk"]
	path = Hunt_Emily_Lightning_Talk
	url = https://github.com/MQ-FOAR705/Hunt_Emily_Lightning_Talk.git
