[submodule "Hunt-Learning Journal"]
	path = Hunt-Learning Journal
	url = https://github.com/MQ-FOAR705/Hunt---Learning-Journal.git
[submodule "Hunt-Scoping2"]
	path = Hunt-Scoping2
	url = https://github.com/MQ-FOAR705/Scoping_2_Computational_Analysis.git
